@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-color: #000080;
  --bg-color:#FFFFFF;
  --text-color: #000;
  --light-text-color: #a5a5a5;
  --body-bg-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}


.header{
  min-height: 364px;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1.png);
    /* This will make sure the image covers the entire viewport */
   /* This keeps the background fixed while the content scrolls */
}



.container {
  margin: auto;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.container .heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .options select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  outline: none;
}
.container .options div:not(:last-child) select {
  margin-bottom: 20px;
}

.container .options p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--light-text-color);
}
.container .line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  opacity: 0.5;
  margin: 30px 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 60px;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}
.btn ion-icon {
  font-size: 30px;
}
.btn:disabled {
  background-color: var(--light-text-color);
  cursor: not-allowed;
}
.container .record img {
  width: 30px;
  height: 30px;
  display: none;
}
.container .record.recording img {
  display: block;
}
.container .record.recording ion-icon {
  display: none;
}
.container .result {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000;
}
.container .result p {
  display: inline;
  margin-left: 3px;
  color: #fff;
}
.buttons {
  display: flex;
  gap: 20px;
}
